extends layout
block content
  h1= title
  p Welcome to the #{title} page.
  br
  br
  -
    let results = [
      { dressName: "Shirt", dressCost: 10, description: "This is best price sales" },
      { dressName: "tshirt",dressCost: 05, description: "This is best price sales" },
      { dressName: "suit", dressCost: 50, description: "These are party wear" }
    ]
  div.container-fluid
    div.row
      each item, index in results
        div.col-sm-2(onclick=`buy(${index})`)
          h5 dressrName: #{item.dressrName}
          p dressCost: $#{item.dressCost}
          p Description: #{item.description}
 
  script.
    function buy(index) {
      alert(`You purchased item ${index+1}.`);
    }