extends layout
block content
 h1= title
 - let items = results;
 - let destination = `dispatch("/dress/create")`
   button.btn( class="btn-primary ml-1", onclick= destination) Create dress
   each item in items
    - let destination1 = `dispatch("/dress/update?id=${item._id}")`
    - let destination2 = `dispatch("/dress/detail?id=${item._id}")`
    - let destination3 = `dispatch("/dress/delete?id=${item._id}")`
      div
       p dress_type  - #{item.dress_type}
       p size  - #{item.size}
       p cost - #{item.cost}
       button.btn( class="btn-primary ml-1", onclick= destination1) Update
       button.btn( class="btn-primary ml-1", onclick= destination2) Detail
       button.btn( class="btn-primary ml-1", onclick= destination3) Delete
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }
