extends layout

block content
  .dress-details-container
    h1= title

    if toShow == null
      h2 No instance to delete
    else
      - let dressid = toShow._id
      - let dress_type = toShow.dress_type
      - let dresscost = toShow.cost
      - let dresssize = toShow.size

      .dress-details
        .row
          .dressAttr.mr-3 Dress ID:
            div #{dressid}
        .row
          .dressAttr.mr-3 Dress Type:
            div #{dress_type}
        .row
          .dressAttr.mr-3 Dress Size:
            div #{dresssize}
        .row
          .dressAttr.mr-3 Dress Cost:
            div #{dresscost}          
